<footer>
  <div class="container">  
    <div class="col-1">
      <h2 class="footer-heading">{{ site.title }}</h2>
      
      <ul class="contact-list">
          <li>Contato</li>
          {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
      </ul>

      <div class="svg-icon">
        <span><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}" title="GitHub" target="_blank">{% include icons/icon-github.html %}</a></span>
        <span><a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}" title="LinkedIn" target="_blank">{% include icons/icon-linkedin.html %}</a></span>
        <span><a href="{{ site.url-1 | relative_url }}" title="Portifólio">{% include icons/icon-user.html %}</a></span>
      </div>    
    </div>

    <div class="col-2 profile">
      {%- include icons/icon-footer-profile.html -%}
      <span>{% include icons/icon-vip.html %}</span>
    </div>

    <div class="col-3 descricao">
      <p>{{- site.description | escape -}}</p>
    </div>
  </div>
  <div class="col-4">
      <p>&copy; 2018 {{ site.first_name }} {{ site.last_name }}
      <br>Feito com <span>{% include icons/icon-code.html %}</span> e <span>{% include icons/icon-heart.html %}</span></p>
  </div>
</footer>