<header>
  <div class="container">
    <div class="logo">
      <h1>
        {% if site.first_name == null or site.last_name == null %}
          <a href="{{ site.url | relative_url }}" title="Ir para o início"><span>{{ site.title }}</span></a>
          
        {% else %}
          <a href="{{ site.url | relative_url }}" title="Ir para o início">
            <span>{{ site.first_name }}</span><br>
            <span>{{ site.last_name }}</span>
          </a>
        {% endif %}
      </h1>
    </div>

    <nav>
      <ul class="menu">
        <li>
          <a href="{{ site.url-1 | relative_url }}">{% include icons/icon-user.html %}</a>
        </li>
        <li>
            <a href="{{ site.url-2 | relative_url }}">{% include icons/icon-tag.html %}</a>
            <ul class="submenu-1">
                {% for category in site.categories %}
                 {% capture category_name %}{{ category | first }}{% endcapture %}
                  <li><a href="/tags/{{ category_name }}" class="category-menu">#{{ category_name }}</a></li>
                {% endfor %}                  
            </ul>
        </li>
      </ul>
    </nav>

    <div class="busca">
      <input type="text" placeholder="buscar..">
    </div>

    <nav>
      <ul class="menu">
          <li>
              <a>{% include icons/icon-link.html %}</a>
              <ul class="submenu-1">
                  <li><a href="{{ site.url-3 | relative_url }}">Sobre mim</a></li>
                  <li><a href="https://github.com/{{ site.github_username }}" target="_blank">GitHub</a></li>                   
              </ul>
          </li>
          <li>
              <a href="{{ site.url-4 | relative_url }}">{% include icons/icon-arquivo.html %}</a>
          </li> 
      </ul>
    </nav>
  </div>
  <hr>
</header>