@charset "utf-8";

// Define defaults for each variable.

//  cores layout dark
$default-color: #61FFB3;
$header-color: #4C0099;
$header-icons: yellow;
$logo: $default-color;
$text-color:       $default-color !default;
$background-color: #1B0036 !default;
$text-color-default: #fff;
$footer-color: #B8DBEE;
$highlight: #000;
$border-code: #330066;
$background-code: #0D0417;
$font-color-code: springgreen;
$page-links: deeppink;

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   18px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/syntax-highlighting",
  "estilos/cor",
  "estilos/home",
  "estilos/header",
  "estilos/page",
  "estilos/post",
  "estilos/footer"
;
