<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt-br" }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if page.title %} {{ page.title }} |  {{ site.title }} {% else %} {{ site.title }} {% endif%}</title>

  <link rel="stylesheet" href="../assets/main.css">
</head>
<body>
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
</body>
</html>