---
layout: default
---

<!-- Conteudo index -->
<div class="container">   
  <div class="wrapper">
    {% if site.posts.size <= 1 %}
      <p>Não existe nenhum post criado ainda! :(</p>
    {% else %}
      {% for post in site.posts %}
        <div class="post-items post">
          <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
            <h2 class="post-header">{{ post.title }}</h2>
            <p>
              {{ post.description }}
            </p>
          </a>
          <!-- category_name: {{ category_name }} -->
          <span class="post-icons">
            {% include icons/icon-calendar.html %} 
            <span class="date">{{ post.date | date: "%d/%m/%y" }}</span> 
            <a href="{{ site.url-2 }}/{{ post.category }}">{% include icons/icon-hashtag.html %} {{ post.category }}</a>
          </span>
        </div>
      {% endfor %}
    {% endif %}
    <p class="rss-subscribe">Inscreva-se <a href="{{ "/feed.xml" | relative_url }}" title="subscribe">via RSS</a></p>
  </div>
</div>
<!-- fim conteudo index -->
