---
layout: default
comments: true
---

<div class="container">
  <div class="wrapper">
    <article itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = date_to_string | default: "%d/%m/%Y" -%}
            {{ page.date | date: date_format }}
            <br>
          </time>
          
          <span>{{ page.reading-time }}</span>
          {%- if page.author -%}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
          {%- endif -%}
        </p>
      </header>

      <div class="post-content setup" itemprop="articleBody">
        {{ content }}
      </div> 
      <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
    </article>
   
    <div class="page-return">
      {% for post in site.posts reversed %}
        {% if post.title != page.title and post.category == page.category and post.date >= page.date %} 
          <a class="post-icons left" href="{{ site.url | append: post.url | escape }}" title="Ler Agora: {{post.title}}"><span>{% include icons/icon-left-arrow.html %}</span>anterior</a>
          {% assign priv = true %}
          {% break %}
        {% else %}
          {% assign priv = false %}
        {% endif %}
      {% endfor %}
      
      {% for post in site.posts %}
        {% if post.title != page.title and post.category == page.category and post.date <= page.date %} 
          <a class="post-icons next right" href="{{ site.url | append: post.url | escape }}" title="Ler Agora: {{post.title}}">próximo<span>{% include icons/icon-right-arrow.html %}</span></a>
          {% break %}
        {% endif %}
      {% endfor %}

      {% if priv == false %}
        <a class="post-icons" href="{{ site.url | escape }}" title="Voltar para Home">voltar<span>{% include icons/icon-return.html %}</span></a>
      {% endif %}
    </div>

    <div class="post-content disqus">
      <p>Deixe seu comentário sobre este post! :D</p>
      {% if page.comments != false %}
        {% include disqus_comments.html %}
      {% endif %}
    </div>
  </div>
</div>
