footer {
    margin-top: -120px;
    width: 100%;
    background-color: #330066;
    border-top: 1px solid #45B3BF;
    padding-top: 40px;
    font-size: 16.5px;
}

footer .container {
    left:   100%;
    margin-top: 40px;
    margin: 0 auto;
    padding-bottom: 20px;
    color: $footer-color;
}

footer .col-1 {
    width: 300px;
    text-align: right;
}

footer .col-2 {
    width: 360px;
    margin: 0 auto;
}

footer .col-2 span svg{
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 47px;
    right: 10px;
    fill: #FFC8CD;
}

footer .col-3 {
    width: 300px;
}

footer .col-4{
    text-align: center;
    margin-bottom: 20px;
}

footer .col-4 p{
    font-size: 14px;
    color: $footer-color;
    margin-bottom: 0;
}

footer .col-4 span svg{
    width: 16px;
    height: 16px;
    padding: 0 3px;
}

footer .profile {
    width: 150px;
    height: 150px;
}

footer .svg-icon{
    float: right;
    width: 200px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

footer .svg-icon svg{
    width: 32px;
    height: 25px;
    fill: yellow;
    padding-left: 43px;
}

.footer-heading {
    @include relative-font-size(1.125);
    color: $text-color-default;
    margin-bottom: 10px;
    margin-top: 15px;
}

.contact-list,
.social-media-list {
  list-style: none;
}

.contact-list {
    li + li {
      padding-top: 5px;
    }
    a {
      color: #61FFB3;
    }
}

.descricao {
    padding-top: 15px;
}
