@import "fonts";

header {
    width: 100%;
    height: 500px;
}
header .container {
    height: 60px;
    margin-top: 10px;
}

header hr {
    display: block;
    // margin-top: 0.5em;
    // margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.7px;
    border-color: $default-color;
}

.logo {
    font-family: $font-logo;
    line-height: 0.9;
    margin: 4.5px 25px 0 0;
    height: 50px;
}

.logo h1 {
    margin-bottom: 0;
    font-size: 30px;
}

.logo span:first-child {
    text-decoration: underline;
}

.logo a, .logo a:hover {
    text-decoration: none;
    color: $logo;
}


// menu
nav {
    margin-top: 12.8px;
}
nav ul{
    list-style-type: none;
    margin-left: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a svg{
    width: 32px;
    height: 32px;
    fill: $header-icons;
    padding-right: 10px;
    padding-left: 10px;
}


//menu dropdown
ul.menu ul{
    position:absolute;
    display:none;
}

/* Configurações nivel 1*/
ul.menu{
    float:left;
    font-size:16px;
}

.menu li{
    float:left;
    width:auto;
    position:relative;
}

.menu li a{
    display:block;
    line-height: 45px;
    height: 45px;
    float:left;
    transition:all 0.1s linear;
}

/* Configurações nivel 2*/
.menu li:hover > ul.submenu-1{
    display:block;
    top: 46px;
    left:0;
    border: 0.5px solid $default-color;
    border-radius: 6px;
    box-shadow: 0px 0px 7px rgba($default-color, 0.6);
    background-color: $background-color;
}
.menu ul.submenu-1 a{
    margin: 0;
    padding: 0 20px;
    white-space: nowrap;
    color: $default-color;
}

/*Configurações de cores*/

/*nivel 1*/
.menu li:hover > a{
    // color:rgb(31, 31, 31);
}

/*nivel 2*/
.submenu-1{
    border:1.3px solid #999;
    background-color: $header-color;
}

.category-menu {
    text-transform: capitalize;
}
//busca
.busca input {
    width: 580px;
    height: 35px;
    border-radius: 16px;
    border: none;
    background-color: $background-color;


    border: 1px solid #7F00FF;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.busca input[type="text"] {
    padding-left: 15px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: $font-site;
}

::-webkit-input-placeholder,
.busca input[type="text"]{
  color: $text-color-default;
}

/**
 * Site header
 */
 .site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: $spacing-unit * 1.865;

    // Positioning context for the mobile navigation icon
    position: relative;
  }

  .site-title {
    @include relative-font-size(1.625);
    font-weight: 300;
    line-height: $base-line-height * $base-font-size * 2.25;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
      color: $grey-color-dark;
    }
  }

.site-nav {
    float: right;
    line-height: $base-line-height * $base-font-size * 2.25;

    .nav-trigger {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        label[for="nav-trigger"] {
            display: block;
            float: right;
            width: 36px;
            height: 36px;
            z-index: 2;
            cursor: pointer;
        }

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                fill: $header-icons;
            }
        }

        input ~ .trigger {
            clear: both;
            display: none;
        }

        input:checked ~ .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}
