/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}


// customizacao pag. /tag/

.post-title svg {
  width: 33.5px;
  padding-right: 10px;
}
.tag-link a,  .tag-link a:hover{
  text-decoration: none;
}

#img-tags {
  width: 250px;
}

// customizacao pag. /arquivos/
.page-item-list {
  padding-left: 100px;
  padding-bottom: 10px; 
  font-size: 18px;
  
}
.page-item-list a {
  font-size: 21px;
  color: #25AE88 !important;
}
.page-item-list span {
  font-size: 28px;
  font-weight: 300;
  color: rgb(228, 228, 228);
}