/**
 * Posts
 */

.disqus {
  margin-top: 60px;
}
.disqus p{
  font-size: 21.5px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(37, 190, 196);
  margin-bottom: 28px;
}
.post-header {
  margin-bottom: 10px;
  // margin-top: 40px;
  font-size: 30px; // customização pag. home
}


.post-header,
.page-item-list, 
.post-meta {
  text-transform: capitalize;
}

.title {
  font-weight: 300;
  text-decoration: underline;
}

.title,
.post-title {
  text-transform: uppercase;
}

.post-title {
  margin-bottom: 8px;
  letter-spacing: -1px;
  line-height: 1;
  font-size: 35px;
  font-weight: 600;

  // text-decoration: underline;
}

.post-content {
  padding-top: 10px;

  h2 {
    font-size: 26px;
    font-weight: bold;
    padding-top: 50px;
    text-transform: uppercase;
  }

  h3 {
    font-size: 22px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-decoration: underline;
  }

  h4 {
    font-size: 18px;
    padding-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  padding-top: 3px;
  padding-left: 3px;
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

// Customizacao Pag. /arquivos/
.post-items ul {
  margin-top: 70px;
}
.post-items ul li{
  list-style-type: none;
}
.post-items ul .post-header{
  font-weight: 400;
}
.post-items ul hr {
  margin-bottom: 11px;
  border: 0;
  border-bottom: 1px solid rgb(228, 228, 228);
}
.page-return a,
.page-return a:hover {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
}
.right span svg {
  position: flex;
  padding-left: 8px;
  float: right;
  width: 28px;
  height: 28px;
}
.left span svg {
  position: flex;
  padding-right: 8px;
  float: left;
  width: 28px;
  height: 28px;
}
.next {
  float: right;
}
// Customizacao Pag. home
.setup p:first-child {
  margin-top: 50px;
}

.post-icons {
  font-size: 21px;
}
.post-icons svg {
  width: 20px;
  height: 20px;
}

.post-items{
  width: 760px;
}
.post {
  padding: 30px;
  margin: 25px 0;
  border: 1px solid transparent;
}
.post-items a p {
  margin-bottom: 20px;
}
.post:hover {
  transition: 0.74s;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
  box-shadow: 1.5px 1.5px 10px rgba(#888, 0.6);
}
.post-items a,  .post-items a:hover{
  text-decoration: none;
}
.post-items a, .post-icons{
  color: rgb(24, 24, 24);
}